<!DOCTYPE html>
<html lang='en'>
    <head>
      <title>Book Shelf</title>
      <link href="/styles/base.css" rel='stylesheet' type='text/css' />
    </head>
    <body>
        <main>
            <h1>Book Collection</h1>

            <section class = "task-view container">
                <ul>
                    <% sqlBooks.forEach(book => { %>
                    <li><%= book.title %></li> 
                    <li><%= book.authors %></li>
                    <img src = <%= book.image_url %>/> 
                    <li><%= book.description %></li>
                    <li class = "book-detail"><a href= '/books/ <%= book.id %>' more details </a></li>
                   <% }) %>
                </ul>
            <section>
                <p> There are <%= sqlBooks.length %> books available.</p> 
            </section>
            </section>   
        
        </main>
    </body>
</html>
